.Graph {
  margin: 5px;
  padding: 0px;
  width: 65vw;
  height: 30vh;
  opacity: 0;
  animation: FadeInNoTransform 2s forwards;
  animation-delay: 8s;
}

@media screen and (min-width: 451px) and (max-width: 800px) {
  .Graph {
    width: 95vw;
    height: 40vh;
  }
}

@media screen and (max-width: 450px) {
  .Graph {
    width: 100vw;
    height: 30vh;
  }
}

@media screen and (max-width: 400px) {
  .Graph {
    width: 105vw;
    height: 25vh;
    margin-top: 30px;
  }
}
@media screen and (max-width: 300px) {
  .Graph {
    width: 120vw;
    height: 20vh;
  }
}
