.WeatherCard {
  min-width: 100px;
  height: 100px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;

  opacity: 0;
}

.WeatherCard > * {
  padding: 0px;
  margin: 0px;
}
