.CurrentWeather {
  margin: 10px;
  border: 2px solid rgb(228, 221, 202);
  border-radius: 50px;
  padding: 18px;
  opacity: 0;
  animation: FadeIn 2s forwards;
  animation-delay: 1s;
  margin-bottom: 50px;
}

.CurrentWeather h2 {
  margin-bottom: 20px;
}

.weather-summary {
  display: flex;
  flex-direction: column;
}

.weather-summary > * {
  text-align: left;
  justify-content: left;
  padding: 2px;
}

.CurrentWeather .weather-summary h4 {
  text-transform: capitalize;
}

.CurrentWeather span {
  cursor: pointer;
  color: blue;
  user-select: none;
}

.CurrentWeather main {
  display: flex;
  margin: auto;
}

@media screen and (max-width: 450px) {
  .CurrentWeather {
    margin-bottom: 60px;
  }

  .CurrentWeather h2 {
    font-size: 20px;
  }

  .CurrentWeather .weather-summary h4,
  h3 {
    font-size: 15px;
  }
  .CurrentWeather em {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .CurrentWeather {
    margin-bottom: 50px;
  }
  .CurrentWeather h2 {
    font-size: 20px;
  }

  .CurrentWeather .weather-summary h4,
  h3 {
    font-size: 15px;
  }
  .CurrentWeather em {
    font-size: 14px;
  }
}
