.CurrentWeather {
  margin: 15px;
  border: 2px solid rgb(228, 221, 202);
  border-radius: 50px;
  margin: 50px;
  padding: 18px;
  opacity: 0;
  animation: FadeIn 2s forwards;
  animation-delay: 1s;
}

.weather-summary {
  display: flex;
  flex-direction: column;
}

.weather-summary > * {
  text-align: left;
  justify-content: left;
  margin: 0px;
  padding: 2px;
}

.CurrentWeather .weather-summary h4 {
  text-transform: capitalize;
}

.CurrentWeather span {
  cursor: pointer;
  color: blue;
  user-select: none;
}

.CurrentWeather main {
  display: flex;
  margin: auto;
}

.CurrentWeather main h3 {
  min-width: 75px;
}
