.WeatherForecast {
  opacity: 0;
  animation: FadeInNoTransform 2s forwards;
  animation-delay: 2.5s;
}

.WeatherForecast > * {
  margin: 15px;
}

.WeatherForecast main {
  display: flex;
}

.WeatherForecast h2 {
  margin-bottom: 40px;
  animation: FadeInNoTransform 2s forwards;
}
