.WeatherForecast {
  opacity: 0;
  animation: FadeInNoTransform 2s forwards;
  animation-delay: 2.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 65vh;
}

.WeatherForecast > * {
  margin: 20px;
}

.WeatherForecast main {
  display: flex;
  margin: 20px;
}

.WeatherForecast h2 {
  animation: FadeInNoTransform 2s forwards;
}

@media screen and (max-width: 800px) {
  .WeatherForecast {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  .WeatherForecast h2 {
    font-size: 30px;
    margin-top: 20px;
  }
  .WeatherForecast main {
    height: 40vh;
    margin-bottom: 15px;
  }
  .WeatherForecast > * {
    margin: 25px;
  }
}

@media screen and (max-width: 600px) {
  .WeatherForecast {
    justify-content: space-between;
    align-items: center;
  }
  .WeatherForecast h2 {
    font-size: 20px;
    margin-top: 20px;
  }
  .WeatherForecast main {
    height: 40vh;
    margin-bottom: 15px;
  }
  .WeatherForecast > * {
    margin: 25px;
  }
}

@media screen and (max-width: 550px) {
  .WeatherForecast {
    justify-content: space-between;
    align-items: center;
  }

  .WeatherForecast h2 {
    font-size: 20px;
    margin: 20px;
  }
  .WeatherForecast main {
    height: 40vh;
    margin-bottom: 40px;
  }
  .WeatherForecast > * {
    margin: 25px;
  }
}
