.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: inherit;
  text-align: center;
}

.App > * {
  margin: 30px;
}

.App h1 {
  margin: 20px;
  animation: FadeInNoTransform 2s forwards;
  text-shadow: 4px 2px 3px 3px;
}
