body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 140vh;
  font-family: "Poppins", sans-serif;
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4d5858,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0vh);
  }
}

@keyframes FadeInWeatherCard {
  0% {
    opacity: 0;
    transform: translateY(-10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0vh);
  }
}

@keyframes FadeInNoTransform {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
